<div class="container">
    <div class="header">
        <div class="logo">
            <img src="/assets/logo.jpeg"/>
            <div class="text">
                <h1>GENESIS <br> <span style="font-size: 20px;">BLOCK AFRICA</span></h1>
            </div>
        </div>
        <div class="menu">
            <ul>
                   <li><a routerLink="/">Home</a></li> 
                <li>About Us</li>
                <li>Take Tour</li>
                <li>Pages</li>
                <li>Gallery</li>
                <li>Blog</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>

    <div class="section1">
        <div class="right">
            <h6><i>A few words about the house</i></h6>
            <h2><span>Welcome To</span> Borrowdale Brooke Estate</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum porro eaque, obcaecati vero corrupti similique reprehenderit optio provident enim assumenda sequi. Quisquam eligendi repudiandae quas beatae doloribus rem ullam cumque?
            Minima sed qui distinctio perspiciatis reprehenderit eaque consequatur, temporibus ea. Adipisci sint consequuntur nostrum quibusdam, odio accusamus magnam. Necessitatibus nihil exercitationem officiis perspiciatis dolore praesentium aspernatur iure quos numquam veritatis.</p>
            <div class="documents">
                <h5>Documents - </h5>
                <h5>Energetic Certificate PDF</h5>
                <h5>Another PDF Sample</h5>
            </div>
            <div class="btn-row">
                <button class="b1">View On Map</button>
                <button class="b2">Schedule Visit</button>
                </div> 
        </div>
        <div class="s-left">
            <div class="information">
                <div class="row">
                 <div class="info">
                     <h6>BUILT YEAR <br> 2016</h6>
                 </div>
                 <div class="info">
                     <h6>BED ROOMS <br> 2</h6>
                     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                 </div>
                </div> 
                <div class="row">
                 <div class="info">
                     <h6>BATH ROOMS <br> 2</h6>
                 </div>
                 <div class="info">
                     <h6>CAR PARKING <br> 2</h6>
                 </div>
                </div> 
               
                </div>
        </div>
      
    </div>

    <div class="section3">
    <div class="left">
       <div class="desc">
        <h5>50 X 25<br>Bed Room Dimension</h5>
       </div>
    </div>
    <div class="right">
        <h1 style="color:white"><span style="color: rgb(94, 171, 6)">Property</span> Details</h1>
        <div class="right-btn-row">
            <button class="btn1">Room Dimensions</button>
            <button class="btn2">Exterior Rooms</button>
            <button class="btn3">Interior Rooms</button>
        </div>
        <p style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, nihil iure est reiciendis maxime alias aliquam minus. Accusantium ratione non cum, totam exercitationem harum qui magni eaque in quam expedita?</p>
        <div class="arrows">
            <div class="arrow">
                <p><span style="color: rgb(94, 171, 6)">-></span> Full Furnished</p>
                <p><span style="color: rgb(94, 171, 6)">-></span> Royal Touch Painting</p>
            </div>
            <div class="arrow">
                <p><span style="color: rgb(94, 171, 6)">-></span> Attach With Fridge</p>
                <p><span style="color: rgb(94, 171, 6)">-></span> Attach With Bath Room</p>
            </div>
            <div class="arrow">
                <p><span style="color: rgb(94, 171, 6)">-></span> Large Play Ground</p>
                <p><span style="color: rgb(94, 171, 6)">-></span> Swimming Pool</p>
            </div>
        </div>
        <div class="img-row">
            <img src="/assets/hero.jpeg"/>
            <img src="/assets/hero.jpeg"/>
            <img src="/assets/hero.jpeg"/>
            <img src="/assets/hero.jpeg"/>
           
        </div>
    </div>
</div>

</div>


<router-outlet></router-outlet>
