

<div class="container">
    <div class="header-top">
       <div class="left-text">
        <h6>Terms & Conditions</h6>
        <h6>Privacy Policy</h6>
        <h6>Membership</h6>
       </div> 
       <div class="right-text">
        <h6>Login/Register</h6>
       </div>
    </div>
    <div class="header">
        <div class="logo">
            <img src="/assets/logo.jpeg"/>
            <div class="text">
                <h1>GENESIS</h1>
                <h3>BLOCK AFRICA</h3>
            </div>
        </div>
        <div class="details">
            <div class="detail-1">Chisipite, Harare <br> Zimbabawe</div>
            <div class="detail-2">Monday-Friday: 9:00 AM to 7:00 PM <br> Sunday: Closed</div>
            <div class="detail-3">Call Us: +263 774 125 815 <br> +263 772 125 869</div>
        </div>
    </div>
    <div class="hero">
        <div class="menu">
            <div class="schedule">
                <h4>SCHEDULE VISIT</h4>
            </div>
            <div class="menu-list">
                <ul>
                    <li>Home</li>
                   
                       <li> <a routerLink="/about">About Us</a></li>

                   
                    <li>Take Tour</li>
                    <li>Pages</li>
                    <li>Gallery</li>
                    <li>Blog</li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <h6 style="color:rgb(115, 211, 6)">Your Dream Home</h6>
            <h2>It's not a house, it's a home</h2>
            <h5>536, Lakeshore Neworleans || $ 255,000</h5>
            <p>New orleans 5541. Build in 2016 <a style="color:rgb(115, 211, 6)" href="#">View Map</a></p>
            <div class="box-details">
                <p>2,583ft</p>
               <p>2-bedrooms</p> 
               <p>1-kitchen</p>
               <p>2-Car Garage</p>
            </div>
        </div>
    </div>
    <div class="section2">
    <div class="property">
       <div class="property-description">
        <h6><i>A few words about the house</i></h6>
        <h1><span style="color:rgb(115, 211, 6)">Property</span> Description</h1>
       </div>
       <div class="property-images">
        <img class="pimg1" src="/assets/hero.jpeg"/>
        <img class="pimg2" src="/assets/hero.jpeg"/>
        <img class="pimg3" src="/assets/hero.jpeg"/>
       </div>
    </div>
   <div class="information">
   <div class="row">
    <div class="info">
        <h6>BUILT YEAR <br> 2016</h6>
    </div>
    <div class="info">
        <h6>BED ROOMS <br> 2</h6>
    </div>
   </div> 
   <div class="row">
    <div class="info">
        <h6>BATH ROOMS <br> 2</h6>
    </div>
    <div class="info">
        <h6>CAR PARKING <br> 2</h6>
    </div>
   </div> 
   <div class="btn-row">
   <button class="b1">View On Map</button>
   <button class="b2">Schedule Visit</button>
   </div> 
   </div>
</div>

<div class="section3">
    <div class="left">
       <div class="desc">
        <h5>50 X 25<br>Bed Room Dimension</h5>
       </div>
    </div>
    <div class="right">
        <h1 style="color:white"><span style="color: rgb(94, 171, 6)">Property</span> Details</h1>
        <div class="right-btn-row">
            <button class="btn1">Room Dimensions</button>
            <button class="btn2">Exterior Rooms</button>
            <button class="btn3">Interior Rooms</button>
        </div>
        <p style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, nihil iure est reiciendis maxime alias aliquam minus. Accusantium ratione non cum, totam exercitationem harum qui magni eaque in quam expedita?</p>
        <div class="arrows">
            <div class="arrow">
                <p><span style="color: rgb(94, 171, 6)">-></span> Full Furnished</p>
                <p><span style="color: rgb(94, 171, 6)">-></span> Royal Touch Painting</p>
            </div>
            <div class="arrow">
                <p><span style="color: rgb(94, 171, 6)">-></span> Attach With Fridge</p>
                <p><span style="color: rgb(94, 171, 6)">-></span> Attach With Bath Room</p>
            </div>
            <div class="arrow">
                <p><span style="color: rgb(94, 171, 6)">-></span> Large Play Ground</p>
                <p><span style="color: rgb(94, 171, 6)">-></span> Swimming Pool</p>
            </div>
        </div>
    </div>
</div>

<div class="section4">
    <h4 style="margin-bottom:1%; color: rgb(94, 171, 6);">About Us</h4>
    <p>Africa is a full service real estate company specialising in property management, property sales, rentals, short term accommodation, valuations, property advisory and rental guarantees</p>

    <div class="menu-items">
        <div class="item1"><h6>ALL</h6></div>
        <div class="item2"><h6>BEDROOM</h6></div>
        <div class="item3"><h6>LIVING ROOM</h6></div>
        <div class="item4"><h6>KITCHEN</h6></div>
        <div class="item5"><h6>GARAGE</h6></div>
        <div class="item6"><h6>BASEMENT</h6></div>
    </div>
</div>
</div>

<router-outlet></router-outlet>
